img{
    width: 120%;
    background-color: azure;
    display: flex;
}

/* .about-pro{
    color: #616161;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 5px;
    position: relative;
    padding-left: 15px;
    background-color: rgb(159, 185, 209);
} */

.pro-content{
    position: absolute;
    
}

.goodstext {
    position: relative;
    width: 800px;
    top: 80px;
    margin-left: 100px;
    /* margin: auto; */
    display: grid;
    justify-content: center;
    overflow: visible;
    height: 200px;
    padding-bottom: 0;
    background-color: antiquewhite;
}

.add-to-cart {
    position: relative;
    /* margin: auto; */
    display: grid;
    /* overflow: visible; */
    margin-top: 200px;
    margin-left: 100px;

    /* top: 0px; */
    /* left: ; */
    width: 500px;
    height: 200px;
    /* justify-content: center; */
    padding-bottom: 0;
    background-color: aquamarine;
}

.product-row{
    display: grid;
    grid-template-rows: repeat(4, 100px);
    grid-template-columns: repeat(2, 1fr);
}

.discount-price{
    color: var(--primary-color);
}

.cart-button:hover{
    background-color: var(--primary-color);
}